@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Satoshi" sans-serif;
}

.aspect-long {
    aspect-ratio: 9/16;
    /* Aspect to Video */
}


@media screen and (min-width: 1024px) {

    /* Custom scrollbar */
    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-track {
        background-color: #ebebeb;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #671172;
        border-radius: 4px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #400546;
    }
}